<div class="home">
<app-navbar>  
</app-navbar>

<div>
    <h1 class="header">Tournaments 
        <span class="example-spacer">  </span>
    
    </h1>
    <button class="home-button" onclick="">
        Add Tournament
    </button>

    <div class="cards">

    

     <mat-card class="example-card" appearance="outlined">
        <mat-card-header  >
          <mat-card-title >Tournament 1</mat-card-title>
        </mat-card-header>
        <div class="image-container">
            <img style="height: 238px; width: 181px;" matCardImage src="tournament.jpg" alt="Tournament name">
          </div>
        <mat-card-content>
          <p>
            Tournament Description
          </p>
        </mat-card-content>
        <mat-card-actions style="margin-left: 20px;">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    
</div>


</div>