<div class="navbar">
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button aria-label="Share">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

 
  
   
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list >
        <mat-list-item class="navbar-list"> <a routerLink="/home">Home</a> </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="navbar-list"><a routerLink="/home">Ticket</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="navbar-list"><a routerLink="/home">Matches</a></mat-list-item>
      </mat-list>
      
     
    </mat-drawer>


  
</div>
