<p>update-player works!</p>
<div class="form-container">
    <form [formGroup]="playerForm" (ngSubmit)="onPlayerSubmit()">
      <h1 style="display: flex;justify-content: center;text-align: center;">ADD PLAYERS</h1>
      
      <div class="form-group">
        <label for="playerName">Player Name:</label>
        <input 
          type="text" 
          id="playerName" 
          formControlName="playerName" 
          placeholder="Enter Player Name"
        />
        <div *ngIf="playerForm.get('playerName')?.invalid && playerForm.get('playerName')?.touched" class="error">
          Player Name is required.
        </div>
      </div>
  
      
      <div class="form-group">
        <label for="playerAge">Player Age:</label>
        <input 
          type="number" 
          id="playerAge" 
          formControlName="playerAge" 
          placeholder="Enter Player Age"
        />
        <div *ngIf="playerForm.get('playerAge')?.invalid && playerForm.get('playerAge')?.touched" class="error">
          Valid Player Age is required.
        </div>
      </div>
  
      
      <div class="form-group">
        <label for="teamName">Team Name:</label>
        <input 
          type="text" 
          id="teamName" 
          formControlName="teamName" 
          placeholder="Enter Team Name"
        />
        <div *ngIf="playerForm.get('teamName')?.invalid && playerForm.get('teamName')?.touched" class="error">
          Team Name is required.
        </div>
      </div>
  
      
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input  
          type="tel" 
          id="phoneNumber" 
          formControlName="phoneNumber" 
          placeholder="Enter Phone Number"
        />
        <div *ngIf="playerForm.get('phoneNumber')?.invalid && playerForm.get('phoneNumber')?.touched" class="error">
          Phone Number must be a valid 10-digit number.
        </div>
      </div>
      
      <button type="submit" [disabled]="playerForm.invalid">Update</button>
    </form>
  </div>