<app-navbar></app-navbar>
<button (click)="toggleCheckboxes()">Delete</button>
<button *ngIf="showCheckboxes" (click)="deleteSelectedUsers()" 
style="background-color: rgb(255, 25, 71);">Confirm Delete</button>
<button  routerLink="/update" >Update</button>
<button (click)="search()">Search</button>

<input *ngIf="showSearchbox"  id="search" name="search"  [(ngModel)]="searchvalue"  required>
<button (click)=search() *ngIf="showSearchbox">Search</button>


<h2>Registered Users</h2>
<table>
  <thead>
    <tr>
      <th *ngIf="showCheckboxes">Select</th>
      <th>ID</th>
      <th>Full Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Class</th>
      <th>Date</th>
      <th>Level</th>
      <th>Dietary Restrictions</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td *ngIf="showCheckboxes">
        <input type="checkbox" #checkboxRef (change)="onSelected(user.id, checkboxRef.checked)">

      </td>
      
      <td>{{user.id}}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.classs }}</td>
      <td>{{ user.date | date }}</td>
      <td>{{ user.level }}</td>
      <td>{{ user.dietary }}</td>
     <td>{{user.notes}}</td>
    </tr>
  </tbody>
</table>
